/* Estilo para o ícone de lápis no nome e localização da propriedade */
.edit-icon-property {
    position: absolute;
    top: 10px;   /* Posiciona o ícone no canto superior */
    right: 40px; /* Posiciona o ícone no canto direito */
    font-size: 20px;  /* Tamanho do ícone */
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease;
}

.edit-icon-property:hover {
    color: #5F6F52; /* Cor ao passar o mouse */
}

/* Estilo geral */
.propriedade-item {
    position: relative;
    padding: 30px;
    background-color: #667753;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.propriedade-item.expanded {
    background-color: #e0e0e0;
    min-height: 350px;
    grid-column: span 2;
}

.talhoes-detalhes {
    width: 100%;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
    color: #333;
}

.talhao-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.talhao-item:hover {
    background-color: #b0b0b0;
}

.edit-icon {
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    color: gray;
}

.save-btn {
    background-color: #4a5a40;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #3b4b34;
}

.edit-mode .edit-input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}
