:root {
    --cor-principal: #5F6F52;
}
  
body {
    background-color: #FEFAE0; 
    background-image:linear-gradient(rgba(254, 250, 224, 0.91), rgba(254, 250, 224, 0.91)), url('../assets/backgoundHome.webp');
}

.topBar{
    background-color: var(--cor-principal);
    height: 10vh;
    width: 96vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
    border-radius: 0 0 25px 25px ;
    box-shadow:  0px 7px 17px 1px rgba(0,0,0,0.75);
}

.menu-opcao {
    cursor: pointer;
}
  
.menu-opcao div {
    width: 40px;
    height: 3px;
    background: #ffffff;
    margin: 10px;
    transition: 0.3s;
    border-radius: 4px;
}

.menu-opcao.active .line1 {
    transform: rotate(-45deg) translate(-9px, 9px);
  }
  
.menu-opcao.active .line2 {
    opacity: 0;
}
  
.menu-opcao.active .line3 {
    transform: rotate(45deg) translate(-9px, -9px);
}

.linklogo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 80%
}

.perfil {
    height: 55%;
}